.cf {
  &.cf:before,
  &.cf:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.width-full {
  width: 100%;
}

.width-auto {
  width: auto;
}