@import 'https://fonts.googleapis.com/css?family=Roboto';
@import "mixin";
@import "helpers";

html, body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  background-color: #f9f9f9;
}


a {
  color: #09f;
  &:visited,
  &:link {
    text-decoration: none;
  }
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

select {
  width: 100%;
}

.block-input {
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  @include border-radius(3px);
  input {
    font-size: 18px;
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
  }
}

button {
  color: #3f3f3f;
  outline: none;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 15px;
  @include border-radius(3px);
  @include transition(background-color, 300ms);
  &.block {
    display: block;
  }
  &:hover {
    background-color: #f0f0f0;
  }
}

@import "workbook-controller";
@import "workbook-area";
