@import 'https://fonts.googleapis.com/css?family=Roboto';
@import "mixin";

html, body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  background-color: #f9f9f9;
}

.cf {
  &.cf:before,
  &.cf:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}

a {
  color: #09f;
  &:visited,
  &:link {
    text-decoration: none;
  }
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

button {
  outline: none;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  @include border-radius(3px);
  @include transition(background-color, 300ms);
  &:hover {
    background-color: #f0f0f0;
  }
}

@import "workbook-controller";
@import "workbook-area";
